<% layout("/layouts/boilerplate")%>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <!-- A simple danger alert-check it out!  -->

        <!-- we can also show error in the alert like this but generally we prefer only message lke this -->
        <p class="alert-heading"><%= message %></p>
        <!-- we can also also write err.message instead of message and err in app.js  like this-->
         <!-- <h4 class="alert-heading"> < err.message %></h4>
         <p> < err.stack %></p> -->
    </div>
</div>