<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- for displaying the flash message lecture 5 -->
    <!-- <= msg %> -->
    
    <!-- for displaying the flash message lecture 6 by using res.locals -->
    <!-- <= messages %> -->
     <%= successMsg%>
     <%= errorMsg %>

     
    <h1>Hello , <%= name %></h1>
</body>
</html>